# Web Scraping My Eyes Out

In [7]:
# Dependencies
import os
import time
import pymongo
import requests
from splinter import Browser
from bs4 import BeautifulSoup as bs

## NASA Mars News

In [8]:
# create path the execute chrome driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', executable_path, headless=False)

In [9]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(3)

In [10]:
html = browser.html
soup = bs(html, 'html.parser')

In [11]:
# scrape titles from website
frame = soup.find_all('li', class_="slide")    
title = frame[0].find_all('div', class_= "content_title")
title = str(title).split(">")
title = title[2].replace('</a', '')

print(title)

Three New Views of Mars' Moon Phobos

In [12]:
# scrape story abstracts from website
teasers = frame[0].find_all('div', class_="article_teaser_body")
teasers = str(teasers).split(",")
teaser1 = teasers[0].replace('[<div class="article_teaser_body">', '')
teaser2 = teasers[1].replace('</div>]', '')

teaser = teaser1 + "," + teaser2

print(teaser)

Taken with the infrared camera aboard NASA's Odyssey orbiter, they reveal temperature variations on the small moon as it drifts into and out of Mars’ shadow.

## JPL Mars Space Images - Featured Image

In [13]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)
time.sleep(3)

In [14]:
html = browser.html
soup = bs(html, 'html.parser')

In [15]:
image_frame = soup.find_all('div', class_="fancybox-wrap fancybox-skin fancybox-dark-skin fancybox-dark-skin-open")
#<img src="/spaceimages/images/mediumsize/PIA17356_ip.jpg" 
print(image_frame)

[]

## Mars Facts

In [16]:
# Dependencies part 2
import pandas as pd

In [17]:
fact_url = "https://space-facts.com/mars/"

In [18]:
fact_table = pd.read_html(fact_url)
fact_table[0]
mars_facts = fact_table[0]
mars_facts.set_index(0)

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

## Mars Hemispheres

In [ ]:
hemi_site = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"